  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body {
    background-color: #232946;
    height: 100%;
    overflow: auto;
    }
  .container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
  } 
  .navbar{
    background-color: #1A213D;
    position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%; 
    height: 10%; 
    padding: auto;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
  }
  .navbar-link{
    text-align: center;
    text-decoration: none; 
    color: white; 
    transition: color 0.3s;  
  }
  .navbar-link:hover {
    color: #FF5F5C; 
  }
  .navbar-right{
    position: fixed;
    display: grid;
    grid-auto-rows: auto;
    right: 5%;
    text-align: right;
    word-spacing: 1rem;
  }
  .navbar-right.active a {
    display: none
  }
  .new_post {
    word-spacing: 0;
  }
  .trade_tracker_logo {
    left: 90px;
    position: fixed;
    text-decoration: underline;
    text-decoration-color: #FF5F5C;
    text-decoration-style: underline;
    transition: all 0.5s ease;
 }
 .trade_tracker_logo a {
  display: inline-block;
  border-bottom:1px solid #FF5F5C;
}
 .menu{
  list-style: none;
  font-size: 20px;
} 
 .menu a{
  text-decoration: none;  
  transition: color 0.3s;  
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.menu a:hover{
  color: white;
} 
.user-img {
  width: 50px;
  border-radius: 100%;
  border: 1px solid #232946;
} 
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background-color: #1A213D;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  color: white;
  z-index: 1;
}
.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}
.sidebar.active {
  width: 250px;
}
.sidebar #btn {
  position: absolute;
  color: white;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar .top .logo {
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.sidebar.active .top .logo {
  opacity: 1;
}
.top .logo i {
  font-size: 2rem;
  margin-right: 5px;
}

.user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.user p {
  color: white;
  opacity: 1;
  margin-left: 1rem;
}

.bold {
  font-weight: 600;
}
.sidebar p {
  opacity: 0;
}
.sidebar.active p {
  opacity: 1;
}
.sidebar ul li .tooltip:hover {
  opacity: 0;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}
.sidebar ul li a:hover {
  background-color: #FF5F5C;
  color: #12171e;
}
.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar .nav-item {
  opacity: 0;
}
.sidebar.active .nav-item {
  opacity: 1;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 180px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: .6rem;
  padding: .4rem 1.2rem;  
  line-height: 1.8rem;
  opacity: 0;  
}
.sidebar ul li:hover .tooltip {
  background-color: #FF5F5C;
  opacity: 1;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar.active .logo {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.trade_tracker_logo.active {
    transform: translateX(165px);
}
.sidebar.active .navbar-right a{
  display: none;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.media {
  font-size: 25px;
  color: white;
  border: 2px solid #1A213D;
}

.media-body {
  padding-top: 10px;
  align-items: center;
  margin-left: 10px;
}

.post-content {
  background-color: #232946;
  margin-top: 10px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.article-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #FF5F5C;
}

.article-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #232946;
}

.article-author {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FF5F5C;
  text-decoration: none;
  font-size: 16px;
}

.article-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article-date {
  font-size: 8px;
  margin-left: auto;
}

.update-delete-btn {
  display: flex;
  color: white;
  background-color: red;
}
#update-btn {
  display: flex;
  font-size: 0.5rem;
  color: white;
}
#update-btn:visited {
  color: white !important;
}

#delete-btn {
  display: flex;
  background: none;
  border: none;
  box-shadow: none;
  color: white;
  text-decoration: underline;
  font-size: 0.5rem;
}
.article-title {
  display: flex;
  transition: color 0.3s; 
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin: auto;
  justify-content: center;
}
.article-title:visited {
  color: white;
}
.article-title:hover {
  color: #FF5F5C;
}
.article-content {
  margin-top: 1%;
  font-size: 1rem;
}
#delete-btn:hover {
  cursor: pointer;
  color: #FF5F5C;
}
.post-links:hover {
  color: #FF5F5C;
  cursor: pointer;
}
.content-section {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding: 1%;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
 .form-group-elements {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: auto;
  max-width: 100%;
  margin: 0 auto; 
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0.8vh;
  font-size: 0.5rem;
  padding: 0.8vh
}
.form-head {
  text-align: center;
  font-size: 1rem;
}
.form-control {
  width: 100%;
  text-align: center;
  float: right;
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
} 
.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-check-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-check-label {
  white-space: nowrap;
}
.check{
  margin-left: 1vw;
  height: 50%;
  width: 50%;
}
#c-pass{
  content: "Confirm Password";
}
.form-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.form-bottom {
  font-size: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7vw;
}
.form-bottom a {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}
.btn {
  display: inline-block;
  width: max-content;
  height: max-content;
  border-radius: 30px;
  font-size: 1rem;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.middle-btn {
  text-align: center;
}
.form-link {
  color: orange;
}
.form-link {
  color: #FF5F5C;
}
.form-link:visited {
  color: #FF5F5C;
}
.alert {
  display: inline-block;
  width: max-content;
  height: max-content;
  color: white;
  font-family: "Roboto";
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  top: 15%;
  right: 30px;
  height: 70px;

  }
  
  .alert-success {
    animation-name: fade-out;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    display: flex;
    background-color: #389838;
    align-items: center;
    border: 5px solid #14C762;
    border-radius: 30px;
    padding: 0 30px;
  }
  
  .alert-error {
    animation-name: fade-out;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    display: flex;
    background-color: orangered;
    align-items: center;
    border: 5px solid #D32F2F;
    border-radius: 30px;
    padding: 0 30px;
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .media-head {
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
  }
  .media-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
  }

  .account-img {
    border-radius: 100%;
    object-fit: cover;
    height: 30%;
    width: 30%;
    float: right;
  }
.form-control-file{
  margin-left: 12.5%;
 }
.post-links {
  text-decoration: none; 
  color: white; 
  transition: color 0.3s; 
}
.page_num {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.page_num:visited {
  color: white;
}
.page_num:hover {
  color:#D32F2F;
  transition: color 0.3s; 
}
.page-container{
  float: right;
  margin-right: 3vw;
  margin-top: 10px;
  color: white;
}
#current_page {
  color:#D32F2F;
}
.posts_by {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.5vh;
}
.earnings_list {
  color: white;
}
.earnings-table {
  color: white;
}
td, th {
  border: 1px solid #232946;
  font-size: 0.7rem;
  text-align: center;
  align-items: center;
}
.earnings-elements {
  font-size: 0.5rem;
  background-color: #1A213D;
  text-align: center;
  margin-top: 10%;
}
#earnings-download {
  font-size: 1.2rem;
}
.blocks {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #232946;
  display: flex;
  right: 0;
  top: 10%;
  flex-direction: column; 
  overflow: auto;
  height: 80%; 
  width: 81%;
}
.block-content {
  box-sizing: border-box;
  width: 100%; 
  right: 5%;
}
.secondary-block-content {
  box-sizing: border-box;
  width: 100%;
  right: 5%;
}
.stock-elements {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #232946;
  color: white;
  text-align: center;
  overflow: auto; 
  max-height: auto; 
  border: 2px solid #1A213D;
}
.stock-overview {
  font-size: 1rem;
}
.stock-elements h1{
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.stock-elements h2{
  text-align: center;
  font-size: 1rem;
}
.stock-table {
  margin: 10px auto;
  table-layout: fixed;
  font-size: 0.5rem;
}
.stock-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.stock-elements tr td {
  background-color: #1A213D;
}
.stock-elements th, td {
  padding: 1px;
  font-size: 0.5rem;
}
.graph h1{
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1vh;
}
.graph {
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
}
.delete-stock:hover {
  background-color: red;
  cursor: pointer;
}
#myChart {
  margin-bottom: 5vh;
}
.history {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
#click-overview {
  position: absolute; 
  top: 0;
  right: 0;
  font-size: 1rem;
}
#click-history {
  position: absolute; 
  top: 0;
  right: 0;
  font-size: 1rem;
}
.stock-history {
  display: none;
}
.stock-overview h2 {
  color: #14C762;
  padding: 10px;
}
.stock-overview {
  display: block;
}
.news-content {
  position: fixed;
  left: 20%;
  width: 75%;
  height: 100%;
  overflow: auto;
}
.news-articles {
  display: flex;
  color: white;
  background-color: #1A213D;
  flex-direction: column;
}
.news-title {
  color: #FF5F5C;
  transition: color 0.3s; 
  text-decoration: none;
  font-size: 1.2rem;
  margin: auto;
}
.news-text {
  flex: 1;
  font-size: 1rem;
}
.news-text a {
  display: block;
  width: 100%;
  height: 100%;
}
.news-text a:hover {
  color: white;
}
.news-article img {
  width: 30%;
  height: 30%;
  float: left;
  margin-right: 10px;
}
.news-article {
  padding: 1%;
  height: 100%;
  width: 95%;
  margin: 1%;
  border: 2.5px solid #232946;
}
.news-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}
.company-ticker {
  text-transform: uppercase;
  color: #FF5F5C;
}
.company-overview table{
  display: flex;
  justify-content: center;

}
.company-overview tr td{
  border: 2px solid #1A213D;

}
@media only screen and (min-width: 768px) {
  .navbar-right.active a {
    display: block;
  }
  .earnings_list {
    color: white;
  }
  .earnings-table {
    color: white;
    margin-left: 5%;
  }
  td, th {
    border: 1px solid #232946;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    
  }
  .earnings-elements {
    padding: 20px;
    top: 0;
    position: fixed;
    font-size: 1.5rem;
    background-color: #1A213D;
    overflow: auto;
  }
  #earnings-download {
    font-size: 1.2rem;
  }
  .block-content {
    box-sizing: border-box;
    width: 100%; 
    right: 5%;
  }
}
@media only screen and (max-width: 400px) {
  .trade_tracker_logo.active {
    display: none;
}
  .blocks {
    width: 75%;
  }
  .news-article img {
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 10px;
  }
  .news-text {
    font-size: 0.5rem;
  }
  .news-title {
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1650px) {
  .blocks {
    top: 15%;
  }
  .block-content {
    box-sizing: border-box;
    width: 100%; 
    right: 5%;
  }
  .ticker-overview {
    position: fixed;
    display: flex;
    left: 10%;
    height: 50%;
    width: 40%;
  }
  .wrapper {
    position: fixed;
    left: 10%;
    margin-bottom: 50px;
    width: 500px;
  }
  .portfolio-content {
    margin-top: 10%;
  }
  .secondary-block-content {
    position: fixed;
    right: 10%;
    height: 50%;
    width: 40%;
  }
  .stock-elements {
    width: 80%;
    height: 400px;
  }
  .media-head {
    align-items: center;
    font-size: 2rem;
  }
  .media-body {
    margin-right: 25%;
  }
  .content-section {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    padding: 1%;
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  .form-group {
    border: none;
    display: block;
    margin-bottom: 20px;
  }
  .form-head {
    margin-bottom: 5%;
    font-size: 35px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
  }
  .form-check {
    font-size: 25px;
  }
  .check{
    margin-left: 1vw;
    height: 25px;
    width: 25px;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group input[type="check_password"],
  .form-group input[type="file"], .content, #amount{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  .form-bottom {
    font-size: 
      25px;
  }
  .form-middle {
    font-size: 25px;
  }
  .page_num {
    font-size: 30px;
   
  }
  .btn {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1650px) {
  .block-content {
    box-sizing: border-box;
    width: 100%; 
    right: 5%;
  }
  .trade_tracker_logo {
    font-size: 2rem;
    left: 8%;
  }
  .navbar{
    background-color: #1A213D;
    position: fixed; 
    display: flex;
    top: 0;
    left: 0;
    width: 100%; 
    height: 10%; 
    padding: 1rem; 
    font-weight: bold;
    text-align: center;
  }
  .navbar-right{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    width: 70%; 
    font-size: 1.5rem;
    gap: 1rem;
  }
  .article-date {
    font-size: 16px;
  }
  .new_post {
    word-spacing: 0;
    margin-right: 40px;
  }

  .earnings_list {
    color: white;
  }
  .earnings-table {
    color: white;
    margin-left: 5%;
  }
  td, th {
    border: 1px solid #232946;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    
  }
  .earnings-elements {
    padding: 20px;
    top: 0;
    position: fixed;
    font-size: 1.5rem;
    background-color: #1A213D;
    overflow: auto;
  }
  #earnings-download {
    font-size: 1.2rem;
  }
  .account-img {
    border-radius: 100%;
    object-fit: cover;
    height: 15%;
    width: 15%;
    margin: 5%;
    margin-left: 20%;
  }
  .media-head {
    align-items: center;
    font-size: 2rem;
  }
  .media-body {
    margin-right: 25%;
  }
  .form-group {
    border: none;
    display: block;
    margin-bottom: 20px;
  }
  .form-head {
    margin-bottom: 5%;
    font-size: 35px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
  }
  .form-check {
    font-size: 25px;
  }
  .check{
    margin-left: 1vw;
    height: 25px;
    width: 25px;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group input[type="check_password"],
  .form-group input[type="file"], .content, #amount{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  .form-bottom {
    font-size: 
      25px;
  }
  .form-middle {
    font-size: 25px;
  }
  .page_num {
    font-size: 30px;
   
  }
  .btn {
    font-size: 30px;
  }
  .graph {
    position: fixed;
    width: 450px;
    height: 450px;
    left: 10%;
  }
  .portfolio-content {
    top: 30%;
    position: fixed;
    width: 450px;
    height: 450px;
    right: 5%;
  }
  .wrapper {
    background-color: #232946;
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
  }
  .blocks {
    top: 17.5%;
    height: 75%;
    width: 50%;
    overflow: visible;
  }

  .secondary-block-content {
    top: 30%;
    position: fixed;
    width: 500px;
    height: 450px;
    left: 37.5%;
  }
  .stock-elements {
    width: 500px;
    height: 450px;
    overflow: auto;
  }
  .stock-elements h1{
    text-align: center;
    font-size: 35px;
  }
  .stock-table {
    margin: 10px;
    table-layout: fixed;
    font-size: 20px;
  }
  .stock-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .stock-elements tr td {
    background-color: #1A213D;
    font-size: 15px;
  }
  .stock-elements th, td {
    padding: 5px;
    font-size: 20px;
  }
  .alert {
    font-size: 35px;
    z-index: 100;
    display: inline-block;
    width: max-content;
    height: max-content;
    color: white;
    font-family: "Roboto";
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 11%;
    right: 30px;
    height: 70px;
    }
    
    .alert-success {
      animation-name: fade-out;
      animation-duration: 10s;
      animation-fill-mode: forwards;
      display: flex;
      background-color: #389838;
      height: 100%;
      width: 100%;
      align-items: center;
      border: 5px solid #14C762;
      border-radius: 30px;
      padding: 0 30px;
    }
    
    .alert-error {
      animation-name: fade-out;
      animation-duration: 10s;
      animation-fill-mode: forwards;
      display: flex;
      height: 100%;
      width: 100%;
      background-color: orangered;
      align-items: center;
      border: 5px solid #D32F2F;
      border-radius: 30px;
      padding: 0 30px;
    }
    .company-overview {
      position: fixed;
      display: flex;
      height: 35%;
      width: 40%;
      top: 60%;
      right: 5%;
      color: white;
      overflow: auto;
    }
    .company-description {
      position: fixed;
      display: flex;
      left: 5%;
      width: 40%;
    }
}