{% extends "layout.html" %} 
{% block content %}
    {% for post in posts %}
        <article class="media">
            <div class="media-body">
                <div class="article-head">
                    <a class="article-author" href="#">{{ post. author }}</a>
                    <small class="article-date">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title"> {{ post.title }}</a></h2>
                <p class="article-content"> {{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
