{% extends "layout.html" %} 

{% block content %}

    <div class="news-content">
        <div class="news-articles">
            {% for article in articles.iterrows() %}
                <div class="news-article">
                    <img src="{{ article[1]['banner_image'] }}">
                    <div class="news-text">
                        <a class="news-title" href="{{ article[1]['url'] }}" >{{ article[1]['title'] }}</a>
                        <p>{{ article[1]['summary'] }}</p>  
                        <div class="news-bottom">
                            <p>{{ article[1]['source_domain'] }}</p><p>{{ article[1]['time_published'] }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
