{% extends "layout.html" %}
{% block secondcontent %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="graph">  
        <h1>My Stocks and Shares!</h1>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: {{ ticker_labels|tojson}},
            datasets: [{
              label: 'Number of shares',
              data: {{ ticker_amounts|tojson}},
            }]
          },
          options: {
            animation: {
            duration: 2000,
            easing: 'easeOutBounce'
            }
          }});
      </script>
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="form-head">Add Your Stocks Here!</legend>
                <div class="form-group">
                    {{ form.ticker.label(class="form-control-label") }}   
                    {{ form.ticker(class="form-control", placeholder="Enter Ticker") }}                      
                </div>
                <div class="form-group">
                    {{ form.amount.label(class="form-control-label") }}   
                    {{ form.amount(class="form-control", placeholder="Enter Amount") }}   
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
        <div class="stock-elements">
            <h1>Stocks history</h1>
            <table class="stock-table">
                <thead>
                    <tr class="stock-tr">
                        <th>Ticker</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in df.values %}
                    <tr class="stock-tr">
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                        <td><i class='bx bx-x' id='{{ same_stocks.id }}'></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}