{% extends "layout.html" %} 
{% block content %}
    <article class="media">
        <img class="user-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
            <div class="article-head">
                <a class="article-author" href="#">{{ post.author.username}}</a>
                <small class="article-date">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if post.author == current_user %}
                    <div>
                        <a class="post-links" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn">Delete</button>
                    </div>
                {% endif %}
            </div>
            <h2 class="post-links">{{ post.title }}</h2>
            <p class="article-content"> {{ post.content }}</p>
        </div>
    </article>
{% endblock content %}
