{% extends "layout.html" %} 
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="form-head">Join Today</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}   
                    {{ form.username(class="form-control", placeholder="Enter Username") }}                      
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}   
                    {{ form.email(class="form-control", placeholder="Enter Email") }}   
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}   
                    {{ form.password(class="form-control", placeholder="Enter Password") }}  
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label", id="c-pass")}}   
                    {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}      
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>
    <div class="form-bottom">
        <small>
                Already Have An Account? <a href="{{ url_for('users.login') }}" class="form-link">Sign In</a>
        </small>
    </div>
{% endblock content %}
